body {
    font-size: 15mm;
    color: black;
}
h1 {
    font-style: oblique;
    color: black;
    font-size: 30mm;
    padding-top: 20mm;
    padding-bottom: 50mm;
}
#introduction {
    font-size: 15mm;
    color: rgb(116, 2, 2);
    font-style: italic;
    text-align: center;
}
h2 {
    font-size: 20mm;
    color: darkgray;
    text-align: center;
}
#aboutUsButton {
    float: right;
}
.emojiGame p {
    font-size: 15mm;
    text-align: center;
    background-color: rgb(158, 149, 137);
    color: chartreuse;
    padding-bottom: 20mm;
    display: none;
}
.emojiGame {
    background-color: white;
}
img {
    padding-left: 20%;
    padding-top: 50mm;
}
#confirm {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer2 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer3 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer4 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer5 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer6 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer7 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer8 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer9 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer10 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer11 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}

#end {
    font-size: 20mm;
    text-align: center;
    color: black;
    font-style: oblique;
}
#comment {
    font-size: 5mm;
    color: cornflowerblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    color: black;
    font-size: 10mm;
    font-family: Georgia, 'Times New Roman', Times, serif;
}