body {
    font-size: 15mm;
}
h1 {
    font-style: oblique;
    color: crimson;
    font-size: 30mm;
    padding-top: 90mm;
    padding-bottom: 100mm;
}
p {
    font-size: 15mm;
    text-align: center;
    background-color: rgb(158, 149, 137);
    color: chartreuse;
    padding-bottom: 20mm;
    display: none;
}
img {
    padding-left: 20%;
    padding-top: 20mm;
}
#confirm {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer2 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer3 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer4 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer5 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer6 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer7 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer8 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer9 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer10 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}
#answer11 {
    font-size: 10mm;
    padding-left: 20mm;
    text-align: center;
}